<VirtualHost {{ item.domain }}:{{ item.port }}>

	ServerAdmin webmaster@localhost
	DocumentRoot {{ item.documentRoot }}

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

